body, html{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  line-height: 1.4;
}
header{
  flex: 0 1 auto;
}
.navbar{
  display: flex;
  background-color: white;
  align-items: center;
  gap: 2em;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
  a{
    text-decoration: none;
    color: black;
  }
  #search-options{
    display: flex;
    gap: 1em;
    #advancedSearch{
      display: flex;
      align-items: center;
      gap: 0.5em;
      border-radius: 25px;
      padding-right: 0.5em;
      padding-left: 0.5em;
      border: 2px solid #ccc;
      background-color: #F0F2F5;
      
      i{
        font-size: 1em;
      }
      p{
        margin: 0;
        padding: 0;
        font-size: 1em;
      }
    }
    @media(max-width: 874px){
      #advancedSearch{
        display: none;
      }
    }
  }
  
  #account-options{
    display: flex;
    padding-right: 2em;
    margin-left: auto;
    gap: 1em;
    align-items: center;
    p{
      font-size: 1em;
      margin: 0;
    }
    .button {
      padding: 0.5em 1em;
      border-radius: 10px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      font-size: 1em;
      transition: background-color 0.3s, box-shadow 0.3s;
    }

    .button:hover {
      background-color: #0056b3;
    }

    .button:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .button:active {
      background-color: #004085;
    }
  }

  #logo{
    margin-left: 1em;

  }

  .search-bar{
    padding-left: 1em;
    flex-shrink: 0;
  }
  .search-bar input{

    padding: 1em;
    border-radius: 10px;
    border: none;
    width: 20em;
  }

  #real-time-search {
    display: block;
  }


  #timeline_options, #search_options{
    display: flex;
    gap: 0.5em;
    flex: 1;
    a {
      border: none;
      background-color: white;
      border-radius: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding: 1em;
      padding-bottom: 0.5em;
      font-size: 1em;
      cursor: pointer;
    }
    
    
  }
 

}
#reports-page{
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  margin-top: 1em;
}

section#editprofile{
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.notification-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 3s ease-out;
  z-index: 1000;
}

.notification-popup.fade-out {
  opacity: 0;
}

.navbar form {
  flex: 1;
}

#notification-dropdown {
  position: relative;
  display: none;
}

#notification-dropdown ul {
 
  position: absolute;
  right: -130px;
  top: 30px;
  background-color: white;
  min-width: 350px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}


#notification-dropdown ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em;
  border-bottom: 1px solid #ddd;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-right: auto;
    p{
      margin: 0;
    }
  }
  button{
    padding: 0.2em 0.8em;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    background-color: #007bff;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  button#accept{
    background-color: green;
  }
  button#reject{
    background-color: red;
  }

}

#notification-dropdown ul li:last-child {
  border-bottom: none;
}

#notification-dropdown ul li a {
  color: black;
  text-decoration: none;
}

#notification-dropdown ul li a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}
span#sender{
  font-weight: bold;
}
#account-options {

  #notification-container {
    position: relative;
    display: inline-block;
    background-color: #F0F2F5;
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
   

  }
  #notification-container:hover, #notification-container:focus {
    border: 1px solid #007bff;
  }

  #noti {
      font-size: 1.5em;
  }

  #number_noti, #number_noti_empty {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      background-color: red;
      color: white;
      border-radius: 50%;
      padding: 2px 6px;
      font-size: 12px;
      font-weight: bold;
  }
  i#dropdown-toggle{
    display: none;
    
  }
 
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    padding: 1em;
  }
  
  .dropdown a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
  }
  .dropdown a:hover {
    background-color: #f0f2f5;
  }
}


#buttonLog, #buttonRegister, #buttonLogin {
  display: none;
  padding: 0.2em;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 0 auto;
  p {
    color: white;
    text-align: center;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
  }
}
.hidden {
  display: none;
}


@media (max-width: 1183px){
  a.auth2 {
    display: none;
  }
}



#priavate_messages{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  p{
    font-size: 1em;
    text-align: center;
  }
  button{
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  .unfollow, .pending {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

#sidebar{
  height: 100%;
  background-color: white;
  width: 17%;
  .navigators{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    i{
      font-size: 1.5em;
    }
    .auth{
      display: flex;
      gap: 1em;
      align-items: center;
      padding: 1em;
          p{
        padding: 0;
        margin: 0;
        margin-right: auto;
      }
      
      img {
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
      }

    }
    .auth:hover{
      background-color: #F0F2F5;
    }
    a{
      text-decoration: none;
      color: black;
      
    }
   
  }
}
.auth2{
  display: flex;
  gap: 1em;
  align-items: center;
  p{
    padding: 0;
    margin: 0;
    margin-right: auto;
    font-weight: bold;
  }
  img {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }

}

main {
  flex: 1 1 auto;
  background-color: #F0F2F5;
  display: flex;
  overflow: hidden;
  p{
    margin-bottom: 0;
  }

}
div#register{
 height: 100%;
 overflow-y: auto;
 scrollbar-width: none; 
    -ms-overflow-style: none; 
}

footer{
  background-color: white;
  align-content: center;
  text-align: center;
  width: 100%;
  margin-top: auto;
  flex: 0 1 auto;
}
#content{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    width: auto;
    background-color: white;
    img{
      border-radius: 50%;
      display: block; 
      margin: 0 auto;
      margin-bottom: 0.5em;
    }
    display: flex;
    flex-direction: column;

    padding: 1em;
    margin: 1em;
    border: 4px solid #007bff;
    border-radius: 10px;
    width: 20em;
    justify-content: center;

    input {
      padding: 1em;
      margin: 0.5em;
      border-radius: 10px;
      border: 1px solid black;
      
    }
    select{
      margin: 0.5em;
    }
    input:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
    button {
      padding: 1em;
      border-radius: 10px;
      border: none;
      background-color: #007bff;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-top: 1em;
    }
    label{
      margin: 0.5em;
    }
    .radio-group{
      display: flex;
      flex-direction: column;
      #radio{
        display: flex;
        gap: 1em;
        align-items: center;
        input{
          margin-left: auto;
          margin-right: 10em;
        }
      }
     
    }
  }
}
input#search {
  height: 40px;
  flex-shrink: 0;
  width: 70%;
  max-width: 400px;
  min-width: 250px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  background-color: #F0F2F5;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-left: 1em;
}

input#search:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
ul#real-time-search {
  display: none;
  position: absolute;
  background-color: white;
  width: 70%;
  max-width: 400px;
  min-width: 250px;
  z-index: 1000;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  button {
    display: none;
  }
}
#real-time-search.show {
  display: block; 
}

#real-time-search li {
  cursor: pointer;

}

#real-time-search-group {
  padding: 0;
}

#real-time-search li:hover {
  background-color: #F0F2F5;
}
.max-vh-50{
  max-height: 50vh;
  overflow-y: auto;
}
.homepage-layout{
  height: 100%;
  width: 100%;
  display: flex;
  .suggested-users{
    margin-left: auto;
    width: 25%;
    margin-right: 3em;
    height: 100%;
    h3{
      text-align: center;
      padding-top: 1em;
    }
  }
  #loading {
    width: 5rem;
    height: 5rem;
  }
  #search-results-container {
    width: 50%;
    > *{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  #posts, #search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    h2{
      text-align: center;
      margin-top: 1em;
    }
  }
  #posts::-webkit-scrollbar {
    display: none; 
  }
}
@media(max-width: 1500px){
 
  .homepage-layout{
    .suggested-users{
      width: 40%;
    }
  
    #posts{
      width: 60%;
    }
    .post{
      width: 70%;
    }
    
  }
  
}

@media (max-width: 1030px){
  .button{
    display: none;
  }
  #buttonLog, #buttonRegister, #buttonLogin {
    display: block;
    margin-bottom: 0.5em;
  }
  .navbar{
    gap: 0;
  }
  .navbar {
    #logo{
      margin-right: 1em;
    }
    h1 {
      margin-right: 1em;
    }
  }
  section.suggested-users {
    display: none;
  }
 
  #sidebar{
    width: 24%;
    min-width: 24%;
  }
  .homepage-layout{
    #posts{
      width: 100%;
    }
    .post{
      width: 60%;
    }
   
  }
}

#single{
  display: none;
}

article.post {
  background-color: white;
  margin: 1.5em;
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  .post_author {
    display: flex;
    gap: 1em;
    align-items: center;
    width: 100%;
    overflow: hidden;
    img {
      border-radius: 50%;
      width: 3em;
      height: 3em;
    }
    p{
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p a {
      font-size: 1.1em;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }
    p#date {
      font-size: 1em;
      color: grey;
      margin-left: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  p#postContent{
    font-size: 1.5em;
    margin-top: 1em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    img {
      width: 95%;
      border-radius: 10px;
      max-width: 100%;
    }
  }
  p#postdescription{
    margin-left: 1em;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0.5em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
  .post_counts{
    display: flex;
    gap: 1em;
    margin-left: 1em;
    width: 100%;
    margin-top: 0.5em;
    #r {
      display: flex;
      gap: 1em;
      margin-left: auto;
      margin-right: 2em;
    }

  }
  .interaction-bar{
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    form{
      margin: 0;
      p{
        font-weight: normal;
      }
    }
    p  {
      font-size: 1.5em;
      cursor: pointer;
      flex: 1;
      text-align: center;
      i{
        font-size: 1em;
      }
    }
    i{
      font-size: 1.5em;
    }
    button{
      color: black;
      background-color: white;
      padding: 0;
      border: none;
    }

  }
  .action_buttons{
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    form{
      margin: 0;
    }
    button#editPostBtn, button#deletePostBtn {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      border-radius: 10px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      font-size: 0.8em;
      text-decoration: none;
      margin: 0.5em;
    }
    button#deletePostBtn {
      background-color: red;
      color: white;
    }

  }

}


.user {
  width: 100%;

  #info{
    display: flex;
    gap: 1em;
    padding: 0.5em;
    align-items: center;
    width: 100%;
 
    img {
      border-radius: 50%;
      width: 3em;
      height: 3em;
    }
    .watchList{
      margin-left: auto;
    }

  }

  span#user p {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
  }
  span#nome p{
    font-size: 0.8em;
  }
  a {
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    p {
      color: black;
    }
  }
  form{
    margin-left: auto;
  }
  button {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    margin-left: auto;

  }
  .unfollow{
    border: 1px solid black;
    background-color: white;
    color: black;
  }
  .pending{
    border: 1px solid black;
    background-color: white;
    color: black;
  }
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  padding-top: 2em;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  img#p_picture {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }

  section#profile{
    display: flex;
    gap: 4em;
    align-items: center;
    justify-content: center;
    width: 100%;
    .info {
      display: flex;
      flex-direction: column;
      
      gap: 1em;
      .p1{
        display: flex;
        align-items: center;
        gap: 1em;
        .unfollow, .pending{
          padding: 0.5em 1em;
          border-radius: 10px;
          border: 1px solid black;
          background-color: white;
          color: black;
          font-size: 1em;
          transition: background-color 0.3s, box-shadow 0.3s;
        }
        div#butoes{
          display: flex;
          align-items: center;
          gap: 1em;
        }
        button {
          padding: 0.5em 1em;
          border-radius: 10px;
          border: none;
          color: white;
          cursor: pointer;
          font-size: 1em;
          background-color: #007bff;
          transition: background-color 0.3s, box-shadow 0.3s;
          font-weight: 500;
        }
        
        form {
          margin: 0;
         
        }
        p{
          font-size: 0.8em;
        }
      }
      @media (max-width: 850px){ 
        div#butoes {
          flex-direction: column;
          button, form, a {
            text-align: center;
            width: 100%;
          }
        }
      }
      @media (max-width: 1016px){ 
        .p1 {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      .numbers{
        display: flex;
        gap: 5em;
        span p{
          font-size: 1em;
        }
      }
      @media (max-width: 850px){ 
        .numbers {
          display: none;
        }
      }
      span#username p {
        font-size: 1.5em;
        font-weight: large;
      }
      span#realName p {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 0.2em;

      }
      span#bio p {
        font-size: 1em;
        margin-top: 0;
      }
    }
   
  }
  a {
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
  }


  section#user_posts {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
  }
  

}
#Type{
  display: flex;
  gap: 1em;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
section#myposts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em; 
  padding: 0;
  margin: 0;
  width: 100%;

  .post {
    width: 30%;
    margin: 0;
    img {
      object-fit: cover;
    }
  }
  @media (max-width: 1030px){ 
    .post {
      width: 45%;
    }
  }
  @media (max-width: 850px){ 
    .post {
      width: 60%;
    }
  }

}

section#myposts>p {
  text-align: center;
  font-size: 1.5em;
  grid-column: span 3;
}



button#addPost{
  display: flex; /* Use Flexbox */
  align-items: center; /* Center vertically */
  justify-content: center;
  margin: 0.5em auto;
  font-size: 1em;
}

/* Center the modal vertically and horizontally */
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.modal-header {
  background-color: #007bff;
  border-bottom: 1px solid #dee2e6;
  padding: 1rem 1.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
  h5 {
  color: white;
  }
}

.modal-title {
  font-size: 1.5em;
  font-weight: 500;
  color: black;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: black;
}

.modal-body {
  padding: 1.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.modal-body form {
  display: flex;
  flex-direction: column;
}



.modal-body form label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.modal-body form input[type="checkbox"] {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}



#media-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between images */
}

.image-wrapper {
  position: relative;
  width: 30%;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain; 
}

.image-label {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
}

.post-control-options .edit-post-btn {
  margin-top: 1em;
  padding: 0.3rem 0.5rem;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.edit-post-btn:hover {
  background-color: blue;
}

.media {
  display: flex;
  flex-direction: column;
}

.post-media-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.post-media-controls button {
  margin-top: 1em;
  padding: 0.3rem 0.5rem;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.post-media-controls button:hover {
  background-color: blue;
}

.admin-layout{
  padding: 2em;
}

#watchlist, #questions{
  padding: 1em;
}


#messages img {
  max-width: 100%; 
  max-height: 30vh; 
  margin: 0.5rem 0; 
  border-radius: 0.5rem;
  object-fit: cover;
}
#image-preview {
  max-width: 7em; 
  max-height: 7em; 
  border-radius: 5px; 
  object-fit: cover; 
}

#about-page {
  font-size: 1.1em;
  padding: 1em;
  width: 80%;
  #about-page-content {
    padding: 1em;
  }
  .about-page-spacing {
    padding-top: 1em;
  }
  #about-page-ending {
    padding-top: 2em;
    text-align: center;
  }
}

#help-contacts-page {
  padding: 1em;
  width: 80%;
  .form input{
    margin: 0;
  }
  textarea {
    resize: none;
    overflow: hidden;
    height: 150px;
  }
  #faqAccordion{
    padding: 1em;
  }
  .contact-methods {
    padding: 1em;
    ul{
      list-style-type: none;
      li{
        margin-bottom: 5px;
      }
    }
  }
}
#searchUsers{
  width: 100%;
  border: none;
  background-color: #F0F2F5;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 1em;
  padding-left: 1em;
}
#searchUsers:focus{
  outline: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

#modal-footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #F0F2F5;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  i {
    font-size: 1.5em;
    cursor: pointer;
    padding: 0.5em;
    background-color: #F0F2F5;
    border-radius: 50%;
  }
  i:hover{
    background-color: black;
    color: white;
  }
}

.modal-body{
  h3{
    margin-bottom: 0.5em;
  }
  .user{
    #info{
      width: 100%;
    }
    border-top: 2px solid #F0F2F5;
  }
  div.user:last-of-type{
    section#info{
    padding-bottom: 0;
    }
  }
  section#CreationPage form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    #form-image{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
    textarea {
      resize: none;
      overflow: hidden;
      height: 150px;
      width: 100%;
    }
    button{
      margin: 0 auto;
    }
  }
  button#AddMember, button#AddToGroup{
    border-radius: 0;
    font-size: 1.2em;
    font-weight: normal;
    padding-right: 1.2em;
    padding-left: 1.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 10px;
    color: #007bff;
    background-color: white;
    border: 2px solid #007bff;
  }
  button#AddMember:hover, button#AddToGroup:hover{
    background-color: #007bff;
    color: white;
  }
  
}

.direct-chats-page {
  #sidebar{
    background-color: #F0F2F5;
  width: 70px;
  .navigators {
    align-items: center;
  }
  p{
    display: none;
  }
}
}

div#Conversas {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  height: 100%;
  overflow-y: auto;
  width: 30%;
  min-width: 30%;
  border-right: 1px solid #ccc;
  background-color: white;

  #searchUsers{
    margin-bottom: 0;
  }
  #searchUsers:focus{
    outline: 2px solid #007bff;
  }
  ul {
    padding-left: 0;
    height: 100vh;
    overflow-y: auto;
    a{
      text-decoration: none;
      color: black;
    }
    
  }
  section#info:hover {
    background-color: #F0F2F5;
    
  }

  section#info{
    display: flex;
    gap: 1em;
    align-items: center;
    width: 100%;
    padding: 1em;
    border-bottom: 2px solid #F0F2F5;
   
    img {
      border-radius: 50%;
    }
    .user-info {
      min-width: 0; 
  }
  .group-info{
    min-width: 0;
  }
  span#groupName, span#user {
      p {
          font-size: 1.2em;
          font-weight: normal;
          font-weight: 500;
      }
  }
  span#groupLastMessage {
      p {
          font-size: 1em;
          opacity: 0.8;
          white-space: nowrap; 
          overflow: hidden; 
          text-overflow: ellipsis; 
      }
  }
  p#timeMessage {
      display: flex;
      align-items: flex-start;
      margin-left: auto;
      font-size: 1em;
      opacity: 0.8;
      display: none;
  }
    
  }
}
div#special{
  display: flex;
  width: 100%;
  min-height: 0;
  height: 100%;
div#group_info{
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #F0F2F5;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  
  border-left: 1px solid #ccc;
  span.gedit {
    align-items: center;
    border-bottom: 2px solid #007bff;
    width: 100%;
    input{
      border: none;
      width: 100%;
      font-size: 2em;
      font-weight: bold;
      margin-left: 0.5em;
    }
    input:focus {
      outline: none;
    }
    i{
    font-size: 1.5em;
    cursor: pointer;
    color: #007bff;
    }
  }
  div#group-header{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background-color: white;
    padding-left: 3em;
    padding-top: 1.5em;
    padding-right: 3em;
    padding-bottom: 1.5em;
    div {
      display: flex;
      gap: 2em;
      align-items: center;
      margin-right: auto;
      p{
        font-size: 1.5em;
      }
      i {
        font-size: 1.5em;
        cursor: pointer;
      }
    
    }

    span#gname {
      display: flex;
      align-items: center;
      justify-content: center;
      p{  
      font-size: 2em;
      font-weight: bold;
      }
      i{
      font-size: 1.5em;
      cursor: pointer;
      margin-left: 1.5em;
      }
    }

  }
  div#additional_info{

    background-color: white;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    span#gdescription{
      display: flex;
      font-size: 1.3em;
      align-items: center;
      i{
        cursor: pointer;
        margin-left: 1.5em;

      }
    }
    span.gedit input{
      font-size: 1.3em;
      font-weight: normal;
    }
    
  }
  div#group-members{
    background-color: white;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  
    >p{
      font-size: 1.5em;
    }
    span#AddMembers{
      font-size: 1.5em;
      cursor: pointer;
      display: flex;
      gap: 1em;
      align-items: center;
      padding-top: 1em;
      padding-bottom: 1em;
      p{
        font-size: 1em;
      }
      span{
        display: flex;
        background-color: #007bff;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      i{

        background-color: #007bff;
        color: white;
      }
    }
    ul{
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding-left: 0;

    }
    >p{
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    div#owner, div#member{
      display: flex;
      gap:1.5em;
      align-items: center;
      img{border-radius: 50%;}
      p{
        font-size: 1.5em;
      }
      button{
        padding: 0.5em 1em;
        border-radius: 10px;
        border: none;
        background-color: red;
        color: white;
        p{
          font-size: 1em;
        }
      }
    }
  }
  div#group-footer{
    
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    justify-content: flex-start;
    align-items: flex-start;
    p{
      font-size: 1.5em;
      color: red;
    }
    button{
      display: flex;
      gap: 1em;
      border: none;
      align-items: center;
      background-color: white;
      padding-top: 1em;
      padding-bottom: 1em;
      span{
        display: flex;
        background-color: red;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        
      }
      i{
        color: white;
        font-size: 1.5em;
      }
    }
  }

}

div#chat {
  display: flex;
  height: 100%; 
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  #chat-header {
      display: flex;
      gap: 1.5em;
      align-items: center;
      background-color: #f1f1f1;
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-top: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #ccc;
      a{
        text-decoration: none;
        color: black;
      }
      span#ChatName {
        font-size: 1.5em;
      }
      p#details{
        opacity: 0.8;
      }
      cursor: pointer;
      img{
        border-radius: 50%;
      }
  }

  div#messages {
      flex: 1 1 auto; 
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 5em;
      padding-right: 5em;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: right;
      height: 100vh;
      overflow-y: auto;
    .message {
      display: inline-block; 
      margin-bottom: 1em;
      padding: 0.5em 1em; 
      border-radius: 5px; 
      max-width: 70%;
    }
    .my-message {
      background-color: #d1e7dd; 
      align-self: flex-end; 
      word-wrap: break-word;
    }
    .other-message{
      background-color: #f1f1f1; 
      align-self: flex-start; 
      word-wrap: break-word;
    }
  }



  div#inputform {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    form{
      display: flex;
      align-items: center;
      gap: 1em;
    textarea{
      flex-grow: 1;
      width: auto;
      background-color: white;
      border: none;
      border-radius: 5px;
      padding-left: 1em;
      resize: none;
      height: 45px;
      padding-top: 0.5em;
      
    }
    textarea:focus {
      outline: 2px solid #007bff;
    }
    i{
      font-size: 1.5em;
      cursor: pointer;
    }
    button{
      border: none;

    }
  }
}
  div#initial {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    min-height: 0;
  }

}
}

#createPostModal{
  .modal-body{
    display: flex;
    flex-direction: column;
  }
}
div#description{
  display: flex;
  flex-direction: column;
  textarea{
    resize: none;
    border-radius: 5px;
    background-color: #F0F2F5;
    border: none;
    padding-left: 1em;
    padding-top: 0.5em;
  }
  textarea:focus {
    outline: 2px solid #007bff;
  }
}
#editPostModalContent , #CreatePostModalContent, #AdvancedSearchContent, #BanModalContent, #ReportModalContent {
  padding: 1.5em;
  padding-bottom: 0;
    form{
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    label, input{
      margin-bottom: 0.5em;
    }
    div#modal-footer button{
      padding: 0.5em 1em;
      border-radius: 10px;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 1em;
      background-color: #007bff;
      transition: background-color 0.3s, box-shadow 0.3s;
      font-weight: 500; 
    }

}
#BanModalContent textarea, #ReportModalContent textarea{
  margin-bottom: 0.5em;

}

#reports-page{
  padding: 1.5em;
  padding-top: 0;
}


#CreatePostModalContent{
  form{
    gap: 1em;
    width: 100%;
  }
  div#postCategory{
    margin: 0;
  }

}

#banned_page{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    width: 17em;
    height: 17em;
    object-fit: cover;
  }
}

#AdvancedSearchContent{
  form {
    gap: 1em;
    div#user-div{
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
  input{
    border: none;
    background-color: #F0F2F5;
    border-radius: 5px;
    padding: 0.3em;
  }
  label, input{
    margin-bottom: 0;
  } 
}
select{
  padding: 0.3em;
  border: none;
  background-color: #F0F2F5;
  border-radius: 5px;
}
select:focus {
  outline: 2px solid #007bff;
}

#DropdownMore .button, #DropdownMore2 .button{
  display: none;
}
#toggleDropdown2{
  display: none;
}
@media (max-width: 740px) {

  #sidebar{
    width: 10%;
    min-width: 10%;
    div.navigators {
      align-items: center;
    }
    p{
      display: none;
    }
  }
  #account-options i {
    display: block;

  }
  h2 {
    display: none;
  }

  a.auth2, .button, #buttonLog, #buttonRegister, #buttonLogin {
    display: none;
  }
  #toggleDropdown2{
    display: block;
  }
  #DropdownMore, #DropdownMore2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    i{
      width: 100%;
      text-align: center;
    }
  .button{
    display: block;
    padding: 1em;
    
  }
  .button:hover{
    background-color: #F0F2F5;
  }
  a{
    font-weight: bold;
  }
  }

  #dropdown-toggle {
    display: block;
    cursor: pointer;
  }

  input#search {
    margin-left: 0;
  }
}

#DropdownMore, #DropdownMore2 {
  position: absolute;
  left: 100%;
  bottom: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
  display: none; /* Initially hidden */
}

#DropdownMore a.auth, #DropdownMore2 a.auth {
  display: flex;
  align-items: center;
  padding: 1em;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
}

#DropdownMore a.auth:hover, #DropdownMore2 a.auth:hover {
  background-color: #f0f2f5;
}
.dropdown-container {
  position: relative; 
  display: inline-block;
}

#help-contacts-page{
  height: 100%;
  width: 100%;
  overflow-y: auto;
  
  form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    label{
      margin-top: 0.5em;
    }
    button{
      margin: 0 auto;
    }
    input{
      width: 40%;
    }
  }
  
}

#influencer-dashboard{
width: 100%;
height: 100%;
padding: 1.5em;

overflow-y: auto;

}

div#PostContent{
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  img{
    object-fit: cover;
    border-radius: 5px;
  }
  p#postdescription{
    font-size: 1.5em;
    margin: 0; 
  }
  div#CommentBody{
    display: flex;
    flex-direction: column;
    gap: 1em;

    form{
      display: flex;
      align-items: center;
      gap: 1em;
    textarea{
      flex-grow: 1;
      width: auto;
      background-color: #f0f2f5;
      border: none;
      border-radius: 5px;
      padding-left: 1em;
      resize: none;
      height: 45px;
      padding-top: 0.5em;
      
    }
    textarea:focus {
      outline: 2px solid #007bff;
    }
    i{
      font-size: 1.5em;
      cursor: pointer;
    }
    button{
      border: none;
      background-color: white;
      

    }
    
  }
  }
}
div#Comments {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  .comSec{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .comment{
    display: flex;
    flex-direction: column;
    textarea{
      resize: none;
      overflow: hidden;
      height: 150px;
      background-color: red;
    }
    
  }
  #commentContent{
    display: flex;
    gap: 1em;
  }
  .interaction-bar{
    margin-left: auto;
    margin-top: 0;
    
  }
  #commentText{
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
  }
  .like-container{
    display: flex;
    gap: 0.5em;
  }

  .comment-options{
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5em;

    button{
      border: none;
      background-color: white;
    }
    button#edit, button#delete{
      font-size: 0.8em;
      padding: 0.3em 1em;
      border-radius: 10px;
      border: none;
      background-color: #007bff;
      color: white;
    }
    button#delete{
      background-color: red;
    }
  }
  .update{
    
      button#update{
        background-color: #007bff;
        color: white;
        border-radius: 10px;
        padding: 0.3em 0.8em;
      }
  }

}

.skip-link {
  position: absolute;
  top: 0;
  left: 20px;
  background-color: white; 
  padding: 10px;
  z-index: 1000;
  border: 1px solid #007bff;
  font-size: 1em;
  text-decoration: none;
  color: black;
}

.skip-link {    
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.skip-link:focus {
  clip: auto;
  width: auto;
  height: auto;
  margin: 10px 0;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  z-index: 1000;
}
form{
  margin-bottom: 0;
}