body, html{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    background-color: white;
    align-items: center;
    gap: 2em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    box-shadow: 0 4px 2px -2px gray; 
    a{
      text-decoration: none;
      color: black;
    }
    #account-options{
      display: flex;
      padding-right: 2em;
      margin-right: auto;
      gap: 1em;
      align-items: center;
      p{
        margin: 0;
      }
      .button {
        padding: 0.75em 1.5em;
        border-radius: 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        transition: background-color 0.3s, box-shadow 0.3s;
    }
    
    .button:hover {
        background-color: #0056b3;
    }
    
    .button:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .button:active {
        background-color: #004085;
    }
    }

    #logo{
      margin-left: 1em;
      
    }
    
    .search-bar{
      padding-left: 1em;
    }
    .search-bar input{
      
      padding: 1em;
      border-radius: 10px;
      border: none;
      width: 20em;
    }

    #real-time-search {
      display: block;
    }

    #timeline_options{
      display: flex;
      gap: 1em;
      flex: 1;
      button{
        border: none;
        background-color: white;
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding: 1em;
        padding-bottom: 0.5em;
        font-size: 1.3em;
        font-weight: bold;
        cursor: pointer;
        
      }
      button#public{
        border-bottom: 5px solid #007bff;
      }
      
      
    }

     
}
.navbar form {
  flex: 1; 
}

#sidebar{
  background-color: white;
  border-right: 2px solid white;
  .navigators{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    .auth{
      display: flex;
      gap: 1em;
      align-items: center;
      padding-bottom: 1em;
      p{
        padding: 0;
        margin: 0;
        margin-right: auto;
      }
      img {
        border-radius: 50%;
        width: 3em;
        height: 3em;
      }
      
    }
    a{
      text-decoration: none;
      color: black;
    }
    i {
      font-size: 2em;
    }
  }
}
.auth2{
  display: flex;
  gap: 1em;
  align-items: center;
  p{
    padding: 0;
    margin: 0;
    margin-right: auto;
    font-weight: bold;
  }
  img {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }
  
}
main {
  flex: 1;
  position: relative;
  background-color: #F0F2F5;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  margin-top: 1em;
  p{
    margin-bottom: 0;
  }
  
}

footer{
  background-color: white;
    align-content: center;
    text-align: center;
    height: 50px;
    width: 100%; 
    margin-top: auto;
    z-index: 1;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  form{
  display: flex;
  flex-direction: column;

  padding: 1em;
  margin: 1em;
  border: 2px solid black;
  border-radius: 10px;
  width: 20em;
  justify-content: center;
  
  input {
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    border: 1px solid black;
  }
  button {
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 1em;
  }
  label{
    margin: 0.5em;
  }
  .radio-group{
    display: flex;
    gap: 1em;
  }
  }
}
input#search {
  height: 40px;
  width: 70%;
  max-width: 400px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  background-color: #F0F2F5;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input#search:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
ul#real-time-search {
  display: none;
  position: absolute;
  background-color: white;
  width: 70%; 
  max-width: 400px;
  z-index: 1000; 
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#real-time-search.show {
  display: block; /* Show when there are results */
}

#real-time-search li {
  cursor: pointer;
}

#real-time-search li:hover {
  background-color: #F0F2F5;
}
.homepage-layout{
  display: grid;
  grid-template-columns: 2fr 1fr;
  .suggested-users{
    h2{
      text-align: center;
      padding-top: 1em;
    }
    grid-column: 2; 
  justify-self: end; 
  margin-right: 2em;
  }
  #posts {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      text-align: center;
      margin-top: 1em;
    } 
}
}



article.post {
  background-color: white;
  margin: 1.5em;
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  width: 60%;
  .post_author {
    display: flex;
    gap: 1em;
    align-items: center;
    width: 95%;
    img {
      border-radius: 50%;
      width: 5em;
      height: 5em;
      margin-left: 1em;
    }
    p a {
      font-size: 1.5em;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }
    p#date {
      font-size: 1em;
      color: grey;
      margin-left: auto;
    }
  }
  p#postContent{
    font-size: 1.5em;
    margin-top: 1em;
    padding-left: 4.5em;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    box-sizing: border-box;
  }
  .media {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    img {
      width: 95%;
      border-radius: 10px;
    }
  }
  p#postdescription{
    margin-left: 1em;
    font-size: 1.5em;
    margin-bottom: 0;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    box-sizing: border-box;
  }
  .post_counts{
    display: flex;
    gap: 1em;
    margin-left: 1em;
    width: 100%;
    margin-top: 0.5em;
    #r {
      display: flex;
      gap: 1em;
      margin-left: auto;
      margin-right: 2em;
    }
    
  }
  .interaction-bar{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
   
    p  {
      font-size: 1.5em;
      cursor: pointer;
      flex: 1;
      text-align: center;
    }
    
  }
  .action_buttons{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
  
  }

}


.user {
  
  #info{
  display: flex;
  gap: 1.5em;
  padding: 1em;
  align-items: center;
  img {
    border-radius: 50%;
    width: 5em;
    height: 5em;
  }
 
   
  }

  span#user p {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    p {
      color: black;
    }
  }
  button {
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    margin-left: auto;
    margin-bottom: 1em;
   
  }
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  width: 100%;
  padding-top: 2em;
  
  margin-left: auto;
  img {
    border-radius: 50%;
    width: 12em;
    height: 12em;
  }
  section#profile{
    display: flex;
    gap: 4em;
    align-items: center;
    justify-content: center;
    
    
    .info {
      display: flex;
      flex-direction: column;
      gap: 1em;
      .p1{
        display: flex;
        align-items: center;
        gap: 2em;
      }
      .numbers{
      display: flex;
      gap: 5em;
      }
      span#username p {
        font-size: 2em;
        font-weight: large;
      } 
      span#realName p {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.2em;
        
      }
      span#bio p {
        font-size: 1.2em;
        margin-top: 0;
      } 
    }
    p{
      font-size: 1.5em;
    }
  }
  a {
    padding: 0.75em 1.5em;
        border-radius: 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        transition: background-color 0.3s, box-shadow 0.3s; 
        text-decoration: none;
  }

  section#user_posts #posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
    gap: 1em;
    justify-items: stretch;
}


section#user_posts #posts .post {
  background-color: white;
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  height: 100%;
}
a#addPost{
  align-items: center;
}

section#user_posts #posts p {
    font-size: 1em;
}
  button {
        padding: 0.75em 1.5em;
        border-radius: 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        transition: background-color 0.3s, box-shadow 0.3s;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    button:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    button:active {
        background-color: #004085;
    }
}

