body, html{
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.navbar{
  display: flex;
  background-color: white;
  align-items: center;
  gap: 2em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
  a{
    text-decoration: none;
    color: black;
  }
  #account-options{
    display: flex;
    padding-right: 2em;
    margin-right: auto;
    gap: 1em;
    align-items: center;
    p{
      margin: 0;
    }
    .button {
      padding: 0.75em 1.5em;
      border-radius: 10px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      font-size: 1em;
      font-weight: bold;
      transition: background-color 0.3s, box-shadow 0.3s;
    }

    .button:hover {
      background-color: #0056b3;
    }

    .button:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .button:active {
      background-color: #004085;
    }
  }

  #logo{
    margin-left: 1em;

  }

  .search-bar{
    padding-left: 1em;
    flex-shrink: 0;
  }
  .search-bar input{

    padding: 1em;
    border-radius: 10px;
    border: none;
    width: 20em;
  }

  #real-time-search {
    display: block;
  }

  #timeline_options{
    display: flex;
    gap: 1em;
    flex: 1;
    button{
      border: none;
      background-color: white;
      border-radius: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding: 1em;
      padding-bottom: 0.5em;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;

    }

  }


}
.navbar form {
  flex: 1;
}
#account-options .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  padding: 1em;
}
#account-options i{
  display: none;
}


#account-options .dropdown a {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
}

#account-options .dropdown a:hover {
  background-color: #f0f2f5;
}
#buttonLog, #buttonRegister, #buttonLogin {
  display: none;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
  p {
    color: white;
    text-align: center;
    padding: 0;
  }
}
.hidden {
  display: none;
}
@media (max-width: 1183px){
  a.auth2 {
    display: none;
  }
}
@media (max-width: 970px){
  .button{
    display: none;
  }
  #buttonLog, #buttonRegister, #buttonLogin {
    display: block;
  }
  .navbar{
    gap: 0;
  }
  .navbar {
    #logo{
      margin-right: 1em;
    }
    h1 {
      margin-right: 1em;
    }
  }
  section.suggested-users {
    display: none;
  }


}

@media (max-width: 795px) {

  #sidebar{
    div.navigators {
      align-items: center;
    }
    p{
      display: none;
    }
  }
  #account-options i {
    display: block;
  }
  h1 {
    display: none;
  }

  a.auth2, .button, #buttonLog, #buttonRegister, #buttonLogin {
    display: none;
  }

  #dropdown-toggle {
    display: block;
    cursor: pointer;
  }
  section#posts{
    grid-column: 2;
  }
}
#priavate_messages{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  p{
    font-size: 1.5em;
    text-align: center;
  }
  button{
    padding: 0.75em 1.5em;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
}







#sidebar{
  background-color: white;
  border-right: 2px solid white;
  .navigators{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    .auth{
      display: flex;
      gap: 1em;
      align-items: center;
      padding-bottom: 1em;
      p{
        padding: 0;
        margin: 0;
        margin-right: auto;
      }
      img {
        border-radius: 50%;
        width: 3em;
        height: 3em;
      }

    }
    a{
      text-decoration: none;
      color: black;
    }
    i {
      font-size: 2em;
    }
  }
}
.auth2{
  display: flex;
  gap: 1em;
  align-items: center;
  p{
    padding: 0;
    margin: 0;
    margin-right: auto;
    font-weight: bold;
  }
  img {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }

}
main {
  flex: 1;
  position: relative;
  background-color: #F0F2F5;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  margin-top: 1em;
  p{
    margin-bottom: 0;
  }

}

footer{
  background-color: white;
  align-content: center;
  text-align: center;
  height: 50px;
  width: 100%;
  margin-top: auto;
  z-index: 1;
}
#content{
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    width: auto;
    background-color: white;
    img{
      border-radius: 50%;
      display: block; 
      margin: 0 auto;
      margin-bottom: 0.5em;
    }
    display: flex;
    flex-direction: column;

    padding: 1em;
    margin: 1em;
    border: 4px solid #007bff;
    border-radius: 10px;
    width: 20em;
    justify-content: center;

    input {
      padding: 1em;
      margin: 0.5em;
      border-radius: 10px;
      border: 1px solid black;
    }
    input:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
    button {
      padding: 1em;
      border-radius: 10px;
      border: none;
      background-color: #007bff;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-top: 1em;
    }
    label{
      margin: 0.5em;
    }
    .radio-group{
      display: flex;
      flex-direction: column;
      #radio{
        display: flex;
        gap: 1em;
        align-items: center;
        input{
          margin-left: auto;
          margin-right: 10em;
        }
      }
     
    }
  }
}
input#search {
  height: 40px;
  flex-shrink: 0;
  width: 70%;
  max-width: 400px;
  min-width: 250px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  background-color: #F0F2F5;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input#search:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
ul#real-time-search {
  display: none;
  position: absolute;
  background-color: white;
  width: 70%;
  max-width: 400px;
  min-width: 250px;
  z-index: 1000;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  button {
    display: none;
  }
}
#real-time-search.show {
  display: block; /* Show when there are results */
}

#real-time-search li {
  cursor: pointer;

}

#real-time-search li:hover {
  background-color: #F0F2F5;
}
.homepage-layout{
  display: grid;
  grid-template-columns: 2fr 1fr;
  .suggested-users{
    margin-left: auto;
    h2{
      text-align: center;
      padding-top: 1em;
    }
    grid-column: 2;
    justify-self: end;
    margin-right: 2em;
  }
  #posts {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      text-align: center;
      margin-top: 1em;
    }
  }
}

#single{
  display: none;
}

article.post {
  background-color: white;
  margin: 1.5em;
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  width: 60%;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 400px;
  .post_author {
    display: flex;
    gap: 1em;
    align-items: center;
    width: 100%;
    overflow: hidden;
    img {
      border-radius: 50%;
      width: 4em;
      height: 4em;
    }
    p{
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p a {
      font-size: 1.1em;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }
    p#date {
      font-size: 1em;
      color: grey;
      margin-left: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  p#postContent{
    font-size: 1.5em;
    margin-top: 1em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    img {
      width: 95%;
      border-radius: 10px;
      max-width: 100%;
    }
  }
  p#postdescription{
    margin-left: 1em;
    font-size: 1.5em;
    margin-bottom: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
  .post_counts{
    display: flex;
    gap: 1em;
    margin-left: 1em;
    width: 100%;
    margin-top: 0.5em;
    #r {
      display: flex;
      gap: 1em;
      margin-left: auto;
      margin-right: 2em;
    }

  }
  .interaction-bar{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;

    p  {
      font-size: 1.5em;
      cursor: pointer;
      flex: 1;
      text-align: center;
    }

  }
  .action_buttons{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
    button#editPostBtn, button#deletePostBtn {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1.5em;
      padding-right: 1.5em;
      border-radius: 10px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      margin: 0.5em;
    }
    button#deletePostBtn {
      background-color: black;
      color: red;
    }

  }

}


.user {

  #info{
    display: flex;
    gap: 1em;
    padding: 1em;
    align-items: center;
    img {
      border-radius: 50%;
      width: 4em;
      height: 4em;
    }


  }

  span#user p {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    p {
      color: black;
    }
  }
  button {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    margin-left: auto;

  }
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  padding-top: 2em;
  img {
    border-radius: 50%;
    width: 12em;
    height: 12em;
  }
  section#profile{
    display: flex;
    gap: 4em;
    align-items: center;
    justify-content: center;


    .info {
      display: flex;
      flex-direction: column;
      gap: 1em;
      .p1{
        display: flex;
        align-items: center;
        gap: 2em;
        button{
          padding: 0.75em 1.5em;
          border-radius: 10px;
          border: none;
          background-color: #007bff;
          color: white;
          cursor: pointer;
          font-size: 1em;
          font-weight: bold;
          transition: background-color 0.3s, box-shadow 0.3s;
          text-decoration: none;
        }
      }
      .numbers{
        display: flex;
        gap: 5em;
      }
      span#username p {
        font-size: 2em;
        font-weight: large;
      }
      span#realName p {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.2em;

      }
      span#bio p {
        font-size: 1.2em;
        margin-top: 0;
      }
    }
    p{
      font-size: 1.5em;
    }
  }
  a {
    padding: 0.75em 1.5em;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
  }




  section#user_posts {
    display: flex;
    flex-direction: column;
  }
  button {
    padding: 0.75em 1.5em;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

}
#Type{
  display: flex;
  gap: 1em;
  align-items: center;
  input#is_public-22{
    margin-bottom: 4px;
  }
  input#is_public {
    margin-bottom: 4px;
  }
}
section#myposts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em; /* Adjust as needed */
  padding: 0;
  margin: 0;

}
section#myposts>p {
  text-align: center;
  font-size: 1.5em;
  grid-column: span 3;
}



button#addPost{
  display: flex; /* Use Flexbox */
  align-items: center; /* Center vertically */
  justify-content: center;
  margin: 0.5em auto;
}

/* Center the modal vertically and horizontally */
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Style the modal header */
.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 1rem 1.5rem;
}

/* Style the modal title */
.modal-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #000;
}

.modal-body {
  padding: 1.5rem;
}

.modal-body form {
  display: flex;
  flex-direction: column;
}



.modal-body form label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.modal-body form input[type="checkbox"] {
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.modal-body form textarea {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  resize: none;
  overflow: hidden;
}

#media-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between images */
}

.image-wrapper {
  position: relative;
  width: 30%;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Maintain aspect ratio */
}

.image-label {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
}

.post-control-options .edit-post-btn {
  margin-top: 1em;
  padding: 0.3rem 0.5rem;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.edit-post-btn:hover {
  background-color: blue;
}

.media {
  display: flex;
  flex-direction: column;
}

.post-media-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.post-media-controls button {
  margin-top: 1em;
  padding: 0.3rem 0.5rem;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

.post-media-controls button:hover {
  background-color: blue;
}

.admin-layout{
  padding: 2em;
}

#watchlist{
  padding: 1em;
}
